.venv/
__pycache__/
*.pyc
.pytest_cache/
.env
.env.*
.idea/
.vscode/
reports/
artifacts/
allure-results/
allure-report/
logs/
screenshots/
videos/
recordings/
screenrecords/
*.log
*.mp4
*.webm
*.apk
*.aab
*.ipa
*.keystore
*.jks
build/
outputs/
