# Python & venv
.venv/
__pycache__/
*.pyc
.pytest_cache/
.env
.env.*

# IDE
.idea/
.vscode/

# Mobile automation artifacts
reports/
artifacts/
allure-results/
allure-report/
logs/
screenshots/
videos/
recordings/
screenrecords/
*.log
*.mp4
*.webm

# Android/iOS app files & builds
*.apk
*.aab
*.ipa
*.keystore
*.jks
build/
outputs/
